<%- include("./partials/header.ejs") %> <%- include("./partials/navbar.ejs") %>

<!-- contact section -->
<section class="contact_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>My Adress</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form_container">
          <form action="/adress/<%=method%>/<%=userId%>" method="POST">
            <div>
              <input
                type="text"
                placeholder="Country *"
                name="country"
                required="true"
                value="<%=adress.country%>"
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="City *"
                name="city"
                required="true"
                value="<%=adress.city%>"
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="Adress *"
                name="adress"
                required="true"
                value="<%=adress.adress%>"
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="ZipCode *"
                name="zipCode"
                required="true"
                value="<%=adress.zipCode%>"
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="TC *"
                name="tc"
                required="true"
                value="<%=adress.tc%>"
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="Phone *"
                name="phone"
                required="true"
                value="<%=adress.phone%>"
              />
            </div>
            <div class="btn_box">
              <button><%=method%></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end contact section -->

<%- include("./partials/footer.ejs") %>
